{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'quiz/fragment_head.html' %}
</head>

<body>
<header id="header-a">
    <div id="bg-pattern">
        <div id="top-a">
            <h1 id="logo-a">ForceBrain</h1>
            <nav>
                <a href="{% url 'brainiac:index' %}">На главную</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'brainiac:logout' %}">Выйти ({{ first_name }} {{ last_name }})</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>

<div id="content">
    {% include "quiz/fragment_about.html" %}
</div>
<!-- Scripts -->
<script src="{% static 'quiz/js/maskedinput.min.js' %}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#phone").mask("+7 (999) 999-9999");
    });
</script>
</body>
</html>