<h1><a id="_0"></a>ПРАВИЛА</h1>
<p>Конкурс состоит из двух частей:</p>
<ol>
<li>Отборочный Интернет-тур</li>
<li>Очная часть</li>
</ol>
<p>Интернет-тур проходит с помощью специально созданного сайта, на котором отображается место каждого участника в рейтинговом списке. В рамках Интернет-тура участникам предлагается ответить на один вопрос в специально отведенной для этого теме.</p>
<ul>
<li>Новый вопрос открывается <strong>каждый день</strong> на сайте конкурса <a href="http://fbmiet.ru">www.fbmiet.ru</a> в одно и то же время <strong>(в 18:00)</strong>.</li>
<li>Ответы принимаются в течение <em><strong>24 часов</strong></em> после публикации вопроса <strong>(до 18:00 следующего дня)</strong>.</li>
</ul>
<h4><a id="__10"></a>Заочная часть</h4>
<p>В первой <strong>(заочной)</strong> части конкурса участвовать может любой желающий, зарегистрировавшийся на сайте конкурса. Но очевидно, что у участника, зарегистрировавшегося после начала конкурса, шансы будут на порядок ниже, так как вопросы прошедших дней <strong>не будут доступны для ответа</strong>. Участник может ответить на любое количество любых вопросов из предложенных.</p>
<ul>
<li>Максимальное количество вопросов в заочном туре - <em><strong>6</strong></em>.</li>
<li>За каждый правильный ответ участники будут получать <em><strong>10</strong></em> баллов.</li>
<li>Первые <em><strong>20</strong></em> правильно ответивших получают бонус в размере <em><strong>+5</strong></em> баллов.</li>
</ul>
<p>По сумме набранных баллов будет происходить отбор участников в очную часть. После окончания заочной части, на сайте Интернет-тура и в группе <a href="https://vk.com/miet.brainforce">Brainforce</a> ВКонтакте будут опубликованы списки участников, успешно прошедших заочный тур и допущенных до очного тура.</p>
<h4><a id="__18"></a>Очная часть</h4>
<p>Вторая <strong>(очная)</strong> часть конкурса проходит непосредственно в здании <a href="https://miet.ru/">НИУ “МИЭТ”</a>. К нему допускается установленное оргкомитетом количество участников Интернет-тура, которые набрали <strong>наибольшее</strong> количество баллов (в случае совпадения количества баллов, приоритет отдается тому, кто ответил <strong>быстрее</strong>)</p>
<ul>
<li>Во время очной части участникам предстоит в течение определенного времени решить определенное число задач различных типов.</li>
<li>По прохождении последнего этапа победитель будет определен по <strong>сумме баллов за все этапы <em>очной части</em></strong>.</li>
</ul>
<h5><a id="_______23"></a><em><strong>Призеры будут награждены ценными призами!</strong></em>.</h5>
