{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Захватывающая интеллектуально-развлекательная игра BrainForce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'quiz/css/reset.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/style.css' %}">
<!-- Roboto 300,400,500 -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Open Sans 400,700 -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Likely -->
<script src="{% static 'quiz/js/jquery.js' %}"></script>
<script src="{% static 'quiz/js/likely.js' %}"></script>
<script src="{% static 'quiz/js/popup.js' %}"></script>
<link rel="stylesheet" href="{% static 'quiz/css/likely.css'  %}">
<!-- Фавикон -->
<link rel="icon" type="image/png" href="{% static 'quiz/img/favicon.png' %}" />
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
