{% extends 'quiz/question_base.html' %}
{% block question %}

    <h2>Сегодняшний вопрос:</h2>
    <p>
        {{ question.text }}
    </p>

{% endblock %}
{% block form %}
    <form action="" method="post" class="form-q">
        <label>Ваш ответ:</label>
        {{ form.text }}
        <input type="submit" class="submit-q" value="Ответить"/>
    </form>
{% endblock %}