{% extends 'quiz/question_base.html' %}
{% block question %}

    <h2>Сегодняшний вопрос:</h2>
    <p>
        {{ question.text }}
    </p>

{% endblock %}
{% block form %}
    <div class="form-q">
        <label>Ваш ответ:</label>
        <textarea readonly="readonly">{{ answer }}</textarea>
    </div>
{% endblock %}
