{% extends 'quiz/question_img_base.html' %}
{% block question %}

    <h2>Что изображено на картинке?</h2>

{% endblock %}
{% block form %}
    <div class="image">
        <img src="{{ question.pic.url }}" alt="question" />
    </div>
    <form action="" method="post" class="form-q-i">
        <label>Ваш ответ:</label>
        {{ form.text }}
        <input type="submit" class="submit-q" value="Ответить"/>
    </form>
{% endblock %}