{% extends 'quiz/index.html' %}
{% load brainiac %}
{% block content %}
    <p>Конкурс окончен! Следите результаты будут объявлены в <a style="color:white;"
                                                                href="https://vk.com/miet.brainforce">нашей группе
        ВКонтакте!</a></p>
    {% if user.is_authenticated %}
        <p>Вы правильно ответили на {{ count }} {{ count|num_plural_ru:"вопрос,вопроса,вопросов" }},
            получив {{ question_points }} баллов за ответы и {{ bonus_points }} в качестве бонуса.
            Ваш результат: {{ total_points }} {{ total_points|num_plural_ru:"балл,балла,баллов" }}.</p>
    {% else %}
        <a class="sign-up" href="{% url 'social:begin' backend='vk-oauth2' %}">Посмотреть баллы</a>
    {% endif %}
{% endblock %}