{% extends 'quiz/question_base.html' %}
{% block question %}

    <h2>Сегодняшний вопрос:</h2>
    <p>
        {{ question.text }}
    </p>

{% endblock %}
{% block form %}
    <a class="sign-up" href="{% url 'social:begin' backend='vk-oauth2' %}">Войти и ответить</a>
{% endblock %}
