{% load staticfiles %}
{% load brainiac %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'quiz/fragment_head.html' %}
</head>

<body>
<header id="header">
    <div id="bg-pattern">
        <div id="top">
            <h1 id="logo">ForceBrain</h1>

            <div id="like">
                <div class="likely likely-light">
                    <div class="twitter">Твитнуть</div>
                    <div class="facebook">Поделиться</div>
                    <div class="vkontakte">Поделиться</div>
                </div>
            </div>
        </div>

        <div id="middle">
            {% block content %}
                <p>BrainForce&nbsp;&mdash; это захватывающая интеллектуально-развлекательная игра. Если вы&nbsp;хотите
                    проверить свои силы&nbsp;&mdash; примите участие в&nbsp;заочном этапе игры с&nbsp;2&nbsp;по&nbsp;7&nbsp;ноября.
                    Самые творческие и&nbsp;эрудированные участники пройдут в&nbsp;финальный этап конкурса, который
                    состоится 12&nbsp;ноября.</p>
                {% if user.is_authenticated %}
                {% else %}
                    <a class="sign-up" href="{% url 'social:begin' backend='vk-oauth2' %}">Участвовать через</a>
                {% endif %}
                <span class="signup-end tooltip"
                      data-tooltip="BrainForce - это захватывающая интеллектуально-развлекательная игра.">
                {% if time_delta.days > 0 %}
                    До начала игры {{ time_delta.days }} {{ time_delta.days|num_plural_ru:"день,дня,дней" }}
                {% else %}
                    Игра начнётся сегодня в 18:00
                {% endif %}
                </span>
            {% endblock %}
        </div>

        <div class="clear"></div>

        <div class="arrow"></div>
    </div>
</header>

<div id="content">
    {% include "quiz/fragment_about.html" %}
</div>
</body>

</html>