{% extends 'quiz/question_img_base.html' %}
{% block question %}

    <h2>Что изображено на картинке?</h2>

{% endblock %}
{% block form %}
    <a class="sign-up" href="{% url 'social:begin' backend='vk-oauth2' %}">Войти и ответить</a>
{% endblock %}
