{% extends 'quiz/question_img_base.html' %}
{% block question %}

    <h2>Что изображено на картинке?</h2>

{% endblock %}
{% block form %}
    <div class="image">
        <img src="{{ question.pic.url }}" alt="question" />
    </div>
    <div class="form-q-i">
        <label>Ваш ответ:</label>
        <textarea readonly="readonly">{{ answer }}</textarea>
    </div>
{% endblock %}