{% load staticfiles %}
{% load brainiac %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Захватывающая интеллектуально-развлекательная игра ForceBrain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'quiz/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'quiz/css/style.css'%}">
    <!-- Roboto 300,400,500 -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Open Sans 400,700 -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Likely -->
    <script src="{% static 'quiz/js/jquery.js'%}"></script>
    <script src="{% static 'quiz/js/likely.js'%}"></script>
    <script src="{% static 'quiz/js/popup.js'%}"></script>
    <link rel="stylesheet" href="{% static 'quiz/css/likely.css'%}">
    <!-- Фавикон -->
    <link rel="icon" type="image/png" href="{% static 'quiz/img/favicon.png'%}" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<header id="header-q">
    <div id="bg-pattern">
        <div class="cont">
            <div id="text">
                <div id="top-q">
                    <h1 id="logo-q">ForceBrain</h1>
                    <nav>
                        <a href="{% url 'brainiac:about' %}">Об игре</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'brainiac:logout' %}">Выйти ({{ first_name }} {{ last_name }})</a>
                        {% endif %}
                    </nav>
                </div>

                <div class="clear-q"></div>

                <div id="middle-q">
                    {% block question %}
                    {% endblock %}
                </div>

                <div id="content-q-i">
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="lik">
                <div class="likely likely-light">
                    <div class="twitter" data-title="ForceBrain — это захватывающая интеллектуально-развлекательная игра. Сайт: fbmiet.ru">Твитнуть</div>
                    <div class="facebook" data-title="ForceBrain — это захватывающая интеллектуально-развлекательная игра. Если вы хотите проверить свои силы — примите участие в заочном этапе игры с 20 по 25 апреля. fbmiet.ru">Поделиться</div>
                    <div class="vkontakte" data-title="ForceBrain — это захватывающая интеллектуально-развлекательная игра. Если вы хотите проверить свои силы — примите участие в заочном этапе игры с 20 по 25 апреля. fbmiet.ru">Поделиться</div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>