{% load staticfiles %}
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrainForce</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]><script src="{% static 'quiz/js//html5shiv.js' %}"></script>
    <![endif]-->
    <script src="{% static 'quiz/js/jquery.min.js' %}"></script>
    <script src="{% static 'quiz/js/skel.min.js' %}"></script>
    <script src="{% static 'quiz/js/skel-layers.min.js' %}"></script>
    <script src="{% static 'quiz/js/init.js' %}"></script>
        <link rel="stylesheet" href="{% static 'quiz/css/skel.css' %}"/>
        <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'quiz/css/style-xlarge.css' %}"/>
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <nav id="nav">
        <ul>

        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <h2>BrainForce</h2>
    <p>Интеллектуально-развлекательная игра</p>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        {% block one %}
        {% endblock %}
    </div>
</section>

<!-- Two -->
{% block two %}{% endblock %}

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        {% block three %}
        {% endblock %}
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="8u 12u$(medium)">
                <ul class="copyright">
                    <li>&copy; All content is licensed under CC-BY 3.0</li>
                    <li>Design: based on <a href="http://templated.co/transit">TRANSIT</a>
                        template by <a href="http://templated.co">TEMPLATED</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>