{% extends 'quiz/management/base.html' %}
{% block content %}
    <h3>Проверка вопроса!</h3>
    {% if answer.question.pic %}
        <img src="{{ answer.question.pic.url }}" alt="question {{ answer.question.date|date }}"/>
    {% else %}
        {{ answer.question.text }}
    {% endif %}
    <h4>Правильный ответ:</h4>
    <p>
        {{ answer.question.suggestedAnswer }}
    </p>
    <h3>Ответ участника <a href="https://vk.com/id{{ uid }}">{{ first_name }} {{ last_name }}</a></h3>

    <p> {{ answer.text }}</p>

    <form action="/" method="post">

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name="is_right" value="true">
            Правильно
        </button>


        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" name="is_right" value="false">
            Неправильно
        </button>

        <input type="hidden" name="answer" value="{{ answer.id }}" />
    </form>

{% endblock %}