{% extends 'quiz/management/base.html' %}
{% block content %}
    <h3>Статистика</h3>
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <th>Место</th>
            <th class="mdl-data-table__cell--non-numeric">Имя</th>
            <th>Баллы</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="https://vk.com/{{ user.user.username }}">@{{ user.user.username }} ({{ user.social.extra_data.first_name }} {{ user.social.extra_data.last_name }})</a></td>
            <td>{{ user.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Статистика по дням:</h3>


    {% for i in questions %}
        {# i.0 - question, i.1 -- answers #}
        <h4>Вопрос от {{ i.0.date }}</h4>
        <h5>Текст:</h5>
        <p>{{ i.0.text }} ({{ i.0.suggestedAnswer }})</p>
        <h5>Ответы:</h5>
        <ul>
        {% for ans in i.1 %}
            <li><a href="https://vk.com/{{ ans.user.username }}">{{ ans.user.username }}</a> ({{ ans.time }})</li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}