html, body {
	font: normal 100% "Roboto", "Trebuchet MS", "Helvetica CY", "DejaVu Sans", sans-serif;
	line-height: 1.5;
	height: 100%;
} 

#header {
	width: 100%;
	height: 37.5rem;
	/* Градиент */
	background-image: -o-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -moz-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -webkit-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -ms-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: linear-gradient(to right bottom, #792f50 0%, #3e497f 100%);
}

#bg-pattern {
	width: 100%;
	height: 100%;
	background: url(../img/bg-pattern.png) repeat;
	padding: 1.25rem 0;
}

#top {
	max-width: 68.75rem;
	width: 90%;
	margin: 0 auto 5.625rem;
	height: 72px;
}

#logo {
	width: 62px;
	height: 72px;
	background: url(../img/logo-main.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

#like {
	padding-top: 25px;
}

.likely {
	float: right;
}

#middle {
	max-width: 56.25rem;
	width: 90%;
	margin: 0 auto;
}

#middle p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 24px;
}

.sign-up {
	font-size: 1.125rem;
	font-weight: 300;
	color: #fff;
	padding: 13px 64px 13px 24px;
	text-decoration: none;
	background: url(../img/icon-vk.png) no-repeat 191px 50% #6383a8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-bottom: none;
}

.sign-up:hover {
	background: url(../img/icon-vk-hover.png) no-repeat 191px 50% #4a637f;
	color: rgba(255,255,255,0.8);
	border-bottom: none;
}

.profile {
	font-size: 1.125rem;
	font-weight: 300;
	color: #fff;
	padding: 13px 24px;
	text-decoration: none;
	border-bottom: none;
	background: #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.profile:hover {
	color: rgba(255,255,255,0.8);
	border-bottom: none;
}

.signup-end {
	font-size: 18px;
	color: #dad3da;
	font-weight: 300;
	margin-left: 11px;
	border-bottom: 1px dotted rgba(255,255,255,.5);
	cursor: help;
	/* Tooltip */
	position: relative;
}

.signup-end::before,
.signup-end::after {
	position: absolute;
	display: none;
	opacity: 0.85;
}

.signup-end::before {
	content: attr(data-tooltip);
	background: #000;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
	white-space: nowrap;
	text-decoration: none;
	top: 100%;
	left: 0;
	margin-top: 10px;
}

.signup-end::after {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	content: '';
	border-bottom-color: #000;
	border-top: none;
	top: 100%;
	left: 10px;
	margin-top: 4px;
}

.signup-end:hover::before,
.signup-end:hover::after {
	display: block;
}

.clear {
	width: 100%;
	height: 0;
	clear: both;
}

.arrow {
	width: 50px;
	height: 24px;
	margin: 179px auto 0;
	background: url(../img/icon-arrow.png) no-repeat;
	/*text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;*/
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
}

.arrr {
	border:none;
}
.arrr:hover {
	border:none;
}

#content {
	max-width: 43.75rem;
	width: 90%;
	margin: 0 auto;
	padding: 3.75rem 0;
}

#content h1 {
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 25px;
	text-align: center;
}
#content h2 {
	font-size: 26px;
	font-weight: 500;
	padding-bottom: 25px;
}
#content h3 {
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 25px;
}
#content h4 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 25px;
}
#content h6 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 25px;
}

#content p {
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration:none;
	color:#0060a0;
	border-bottom:1px solid rgba(0,96,160,.2);
	transition: all 0.5s ease;
}

a:hover {
	color:#e74c3c;
	border-bottom: 1px solid rgba(231,76,60,0.5);
	transition: none;
}

.authors {
	font-size: 18px;
	line-height: 160%;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.md-content {
	width: 440px;
	height: 185px;
	border-radius: 5px;
	padding: 25px 25px 30px 25px;
	background-color: #fff;
}


.popup-box {
	position: absolute;
	border-radius: 5px;
	background: #fff;
	display: none;
	z-index: 9999999;
}

#blackout {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 9999;
	left: 0;
	display: none;
}


.md-content h2 {
	font-size: 20px;
	font-weight: 400;
	font-family: "Roboto", "Trebuchet MS", "Helvetica CY", "DejaVu Sans", sans-serif;
	color: #000;
	line-height: 1.5;
}

.md-content p {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}

#phone {
	border: 1px #d0d0d0 solid;
	border-radius: 3px;
	padding: 7px;
	float: left;
	font-size: 20px;
	margin: -1px;
}

.submit {
	padding: 0 22px;
	background-color: #e8e8e8;
	border-radius: 2px;
	outline: none;
	border: none;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	margin-top: -1px;
	cursor: pointer;
	float: right;
	height: 39px;
}

#header-q {
	width: 100%;
	height: 100vh;
	/* Градиент */
	background-image: -o-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -moz-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -webkit-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -ms-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: linear-gradient(to right bottom, #792f50 0%, #3e497f 100%);
}

#top-q {
	max-width: 68.75rem;
	width: 90%;
	margin: 0 auto;
}

#top-q nav {
	float: right;
}

#top-q nav a {
	line-height: 72px;
	color: #fff;
	font-weight: 300;
	margin-left: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

#top-q nav a:hover {
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,.4);
}

#logo-q {
	width: 62px;
	height: 72px;
	background: url(../img/logo-main.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

p {
	font-size: 18px;
}

.clear-q {
	width: 100%;
	height: 50px;
	clear: both;
}

.clear-p {
	width: 100%;
	height: 100px;
	clear: both;
}

#middle-q {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
}

#middle-q h2 {
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 5px;
}

#middle-q p {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
}

#content-q {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}

.form-q label {
	font-size: 21px;
	color: #fff;
	font-weight: 400;
	line-height: 1.5;
	display: block;
	margin-bottom: 5px;
}

.form-q textarea {
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	display: block;
	width: 450px;
	height: 110px;
	background-color: rgba(0,0,0,.1);
}

.submit-q {
	width: 138px;
	background-color: #8f8d92;
	border-radius: 5px;
	outline: none;
	color: #fff;
	border: none;
	overflow: hidden;
	font-size: 17px;
	font-weight: 300;
	cursor: pointer;
	height: 43px;
	margin-top: 10px;
}

.submit-q:hover {
	background-color: #C5C2C9;
}

.cont {
	position: relative;
	min-height: 100%;
}

*html #content {
	height: 100%;
}

#text {
	padding-bottom: 72px;
}

.foot {  
	position: relative;
	height: 72px;
	margin-top: -72px;
	padding-top: 25px;
}

.lik {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

#header-a {
	width: 100%;
	height: 112px;
	/* Градиент */
	background-image: -o-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -moz-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -webkit-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -ms-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: linear-gradient(to right bottom, #792f50 0%, #3e497f 100%);
}

#top-a {
	max-width: 68.75rem;
	width: 90%;
	margin: 0 auto;
}

#top-a nav {
	float: right;
}

#top-a nav a {
	line-height: 72px;
	color: #fff;
	font-weight: 300;
	margin-left: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

#top-a nav a:hover {
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,.4);
}

#logo-a {
	width: 62px;
	height: 72px;
	background: url(../img/logo-main.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

#content-q-i {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}

.form-q-i label {
	font-size: 21px;
	color: #fff;
	font-weight: 400;
	line-height: 1.5;
	display: block;
	margin-bottom: 5px;
}

.form-q-i textarea {
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	display: block;
	width: 390px;
	height: 110px;
	background-color: rgba(0,0,0,.1);
}

.image {
	float: left;
	margin-right: 20px;
}

img {
	-webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.2);
}

.a-n {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dashed rgba(255,255,255,.4);
}

.submit-n {
	padding: 0 22px;
	background-color: #e8e8e8;
	border-radius: 2px;
	outline: none;
	border: none;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	margin-top: -1px;
	cursor: pointer;
	margin-left: 10px;
	height: 39px;
}

#header-p {
	width: 100%;
	height: 100vh;
	/* Градиент */
	background-image: -o-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -moz-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -webkit-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: -ms-linear-gradient(right bottom, #792f50 0%, #3e497f 100%);
	background-image: linear-gradient(to right bottom, #792f50 0%, #3e497f 100%);

}

.content-p {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}

.content-p p {
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
}

.ph-sp {
	background-color: rgba(0,0,0,.2);
	padding: 4px 6px;
	border-radius: 4px;
}

.content-p p b {
	font-weight: 500;
	font-size: 22px
}