@charset "UTF-8";

/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major h2 {
		font-size: 2.25em;
	}

	header.major p {
		font-size: 1.25em;
	}

/* Header */

	#skel-layers-wrapper {
		padding-top: 0;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 6em 0em 6em;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Layers */

	#navButton .toggle {
		text-decoration: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

		#navButton .toggle:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#navButton .toggle:before {
			background: rgba(144, 144, 144, 0.65);
			border-radius: 4px;
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		background: rgba(255, 255, 255, 0.975);
		color: #444;
		border-right: solid 1px rgba(144, 144, 144, 0.25);
		box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.125);
	}

		#navPanel nav {
			padding: 0.5em 1.25em;
		}

			#navPanel nav ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#navPanel nav ul li {
					padding: 0;
				}

					#navPanel nav ul li:first-child a:not(.button), #navPanel nav ul li:first-child span:not(.button) {
						border-top: 0;
					}

					#navPanel nav ul li a.button, #navPanel nav ul li span.button {
						margin-top: 0.5em;
					}

					#navPanel nav ul li a:not(.button), #navPanel nav ul li span:not(.button) {
						border-top: 1px solid rgba(0, 0, 0, 0.125);
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}

			#navPanel nav .button {
				width: 100%;
			}

/* Footer */
#footer {
		background: #383b43;
		padding: 1em 0em 0em;
	}
	#footer .copyright {
		margin-top: 0;
		text-align: center;
	}

	#footer .icons {
		text-align: center;
	}